body {
					background-color:#33FAFF;
				}
				
				h1, h2, h3, p {
					text-align:center;
					position:relative;
					left:30%;
					background-color:yellow;
					padding:10px;
					max-width:500px;
					border:black 3px solid;
				}
				
				ul, ol {
					position:relative;
					left:30%;
					background-color:yellow;
					padding:25px;
					max-width:470px;
					border:black 3px solid;
				}
				
				div {
					text-align:center;
					position:fixed;
					right:100px;
					background-color:yellow;
					padding:10px;
					max-width:500px;
					border:black 3px solid;
				}